.header {
  margin-top: 30px;

  &__wrapper {
    width: var(--content-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 19px;
  }

  &__logo-link {
    @include reset-link;
    @include transition;
    display: flex;
    align-items: center;
    gap: 35px;

    &:hover {
      opacity: 0.6;
    }
  }

  &__title {
    color: var(--main-colors-black, #0d0c0c);
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -2.56px;
    margin: 0;

    @media screen and (max-width: 1439px) {
      font-size: 55px;
    }
  }

  &__title-accent {
    color: var(--main-colors-accent, #f51b1b);
  }

  &__right {
    display: flex;
    gap: 32px;
    align-items: flex-end;
  }

  &__date {
    color: var(--main-colors-black, #0d0c0c);
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.52px;
    margin: 0;

    @media screen and (max-width: 1439px) {
      font-size: 24px;
    }
  }

  &__nav {
    display: flex;
    gap: 8px;
  }

  &__nav-btn {
    @include reset-btn;
    width: 64px;
    height: 48px;
    border-radius: 8px;
    cursor: pointer;
    background: url(../images/arrow-black-right-icon.svg) no-repeat center /
      32px 32px;
    background-color: var(--system-colors-element, #efefef);
    @include transition;

    @media screen and (max-width: 1439px) {
      width: 63px;
      height: 44px;
      background-size: 28px 28px;
    }

    &:hover {
      opacity: 0.6;
    }

    &_prev {
      rotate: 180deg;
    }
  }

  &__user-info {
    display: flex;
    align-items: flex-end;
    gap: 33px;
  }

  &__user-img-container {
    display: block;
    border-radius: 50%;
    background: #efefef;
    position: relative;
    overflow: hidden;
    width: 80px;
    height: 80px;
  }

  &__user-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
