.button {
  @include reset-btn;
  border-radius: 12px;
  background: var(--main-colors-black, #0d0c0c);
  box-sizing: border-box;
  padding: 21px 32px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.36px;
  @include transition;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--main-colors-accent, #f51b1b);
  }

  &_disabled {
    background-color: var(--system-colors-element, #efefef);
    color: var(--Gray, #b3b3bc);
  }
}
