.button {
  @include reset-btn;
  border-radius: 12px;
  background: var(--main-colors-black, #0d0c0c);
  box-sizing: border-box;
  padding: 21px 32px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.36px;
  @include transition;
  color: #fff;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--main-colors-accent, #f51b1b);
  }

  &:focus-visible {
    outline: none;
    background-color: var(--main-colors-accent, #f51b1b);
  }

  &_secondary {
    border: 1px solid var(--main-colors-black, #0d0c0c);
    color: var(--main-colors-black, #0d0c0c);
    background-color: transparent;

    &:hover {
      border: 1px solid var(--main-colors-accent, #f51b1b);
      color: var(--main-colors-accent, #f51b1b);
      background-color: transparent;
    }
  }

  &_disabled {
    background-color: var(--system-colors-element, #efefef);
    color: var(--Gray, #b3b3bc);
    pointer-events: none;
  }

  &_registration {
    width: 346px;
  }
}
