.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(69, 75, 87, 0.4);
  position: fixed;
  visibility: hidden;
  opacity: 0;
  @include transition;

  &_opened {
    opacity: 1;
    visibility: visible;
  }

  &__wrapper {
    box-sizing: border-box;
    padding: 80px 64px;
    border-radius: 64px;
    background: var(--basic-base, #fff);
    position: relative;
    min-height: 510px;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-height: 98vh;

    &_large {
      width: 1075px;
      padding: 80px 0;
      justify-content: flex-start;
    }
  }

  &__close {
    @include reset-btn;
    position: absolute;
    width: 40px;
    height: 40px;
    display: block;
    top: 40px;
    right: 40px;
    background: url(../images/cross-icon.svg) no-repeat center / 24px 24px;
    cursor: pointer;
    @include transition;

    &:hover {
      rotate: 180deg;
    }
  }

  &__title {
    color: var(--main-colors-black, #0d0c0c);
    font-size: 36px;
    font-weight: 400;
    line-height: 100%; /* 36px */
    letter-spacing: -0.72px;
    text-align: center;
    margin: 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 346px;
    gap: 40px;

    &_registration {
      width: 520px;
      gap: 0;
    }
  }

  &__password-info-container {
    width: 100%;
    border-radius: 12px;
    background: var(--system-colors-bg, #fafafa);
    box-sizing: border-box;
    padding: 8px 12px;
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 24px;
  }

  &__password-info-txt {
    margin: 0;
    color: var(--main-colors-black, #0d0c0c);
    font-family: TT Commons;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
    letter-spacing: -0.28px;
  }

  &__fieldset {
    width: 346px;
    border: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 40px;
  }

  &__bottom-txt {
    color: var(--main-colors-black, #0d0c0c);
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.36px;
    margin: 0;
  }

  &__bottom-btn {
    @include reset-btn;
    display: inline-block;
    cursor: pointer;
    color: var(--main-colors-accent, #f51b1b);
  }
}
