.rangepicker-container {
  border-radius: 12px;
  border: 1px solid var(--Gray, #b3b3bc);
  background: var(--basic-base, #fff);
  padding: 32px 16px 40px;
  position: absolute;
  top: 74px;
  @include transition;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 32px;

  &_active {
    opacity: 1;
    visibility: visible;
  }
}
